In [15]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn.preprocessing import RobustScaler, StandardScaler, MinMaxScaler, RobustScaler
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [16]:
diamonds6 = pd.read_csv (r"C:\Users\hp\Documents\m3\ih-datamadpt-0124-project-m-3\diamonds_test.csv")


diamonds6

,id,carat,cut,color,clarity,depth,table,x,y,z,city
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City

In [17]:
columns_to_drop= ["id","city"]
diamonds6.drop(columns=columns_to_drop, axis=1, inplace=True)

In [18]:
diamonds6

       carat        cut color clarity  depth  table     x     y     z
0       0.79  Very Good     F     SI1   62.7   60.0  5.82  5.89  3.67
1       1.20      Ideal     J     VS1   61.0   57.0  6.81  6.89  4.18
2       1.57    Premium     H     SI1   62.2   61.0  7.38  7.32  4.57
3       0.90  Very Good     F     SI1   63.8   54.0  6.09  6.13  3.90
4       0.50  Very Good     F     VS1   62.9   58.0  5.05  5.09  3.19
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
13480   0.57      Ideal     E     SI1   61.9   56.0  5.35  5.32  3.30
13481   0.71      Ideal     I     VS2   62.2   55.0  5.71  5.73  3.56
13482   0.70      Ideal     F     VS1   61.6   55.0  5.75  5.71  3.53
13483   0.70  Very Good     F     SI2   58.8   57.0  5.85  5.89  3.45
13484   0.40      Ideal     I    VVS2   62.4   55.0  4.70  4.73  2.94

[13485 rows x 9 columns]

In [19]:
#Load the model
filename = r"C:\Users\hp\Documents\m3\ih-datamadpt-0124-project-m-3\Modelos/test_1.sav"
loaded_model = pickle.load(open(filename, 'rb'))

In [20]:
cat_cols = ['cut', 'color', 'clarity']
diamonds6_encoded = diamonds6[cat_cols]

In [21]:
cat_list = []
for col in cat_cols:
    cat = diamonds6[col].unique()
    cat_num = len(cat)
    cat_dict = {"categorical_variable":col,
                "number_of_possible_values":cat_num,
                "values":cat}
    cat_list.append(cat_dict)
    
cat_df = pd.DataFrame(cat_list).sort_values(by="number_of_possible_values",
                                                ascending=False).reset_index(drop=True)

In [22]:

cat_cols = ["clarity", 'color', 'cut']
diamonds_one_hot_encoding = pd.get_dummies(diamonds6, columns=cat_cols, drop_first=True)

# Convertir las columnas booleanas a enteros
diamonds_one_hot_encoding = diamonds_one_hot_encoding.astype(int)

In [23]:
X = diamonds_one_hot_encoding

In [24]:
# Scaling


#scaler = StandardScaler()

#scaler = MinMaxScaler()

scaler = RobustScaler()
scaled_data = scaler.fit_transform(X)
scaled_data

scaled_df = pd.DataFrame(scaled_data)
scaled_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
count,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,...,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000,13485.000000
mean,0.391769,0.292918,0.160870,0.127141,0.127438,0.007379,0.034334,0.245903,0.167964,0.156099,...,0.183315,0.175380,0.210382,0.150315,0.103077,0.049537,0.092176,0.395328,0.261846,0.221505
std,0.564005,1.457775,0.747140,0.565383,0.571189,0.427520,0.182094,0.430637,0.373849,0.362963,...,0.386939,0.380306,0.407595,0.357393,0.304071,0.216993,0.289286,0.488939,0.439656,0.415275
min,0.000000,-11.000000,-2.000000,-2.500000,-2.500000,-1.500000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,-0.333333,-0.500000,-0.500000,-0.500000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.666667,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,5.000000,18.000000,5.333333,2.500000,13.000000,14.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
predictions = loaded_model.predict(scaled_df)

print(type(predictions))

<class 'numpy.ndarray'>

C:\Users\hp\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [26]:
predictions_df = pd.DataFrame(predictions, columns=['price'])
predictions_df['id'] = predictions_df.index
predictions_df = predictions_df[['id','price']]

In [27]:
predictions_df

          id        price
0          0  1054.832929
1          1   571.186242
2          2   604.072333
3          3  1054.832929
4          4   642.528500
...      ...          ...
13480  13480   831.114321
13481  13481   712.257833
13482  13482   593.400242
13483  13483  1692.897778
13484  13484   622.412500

[13485 rows x 2 columns]

In [28]:
#Export submissions
predictions_df.to_csv(r'C:\Users\hp\Documents\m3\ih-datamadpt-0124-project-m-3\Intentos\intento_3.csv', index=False)